<h1><?php echo $tarefa['Tarefa']['titulo']?></h1>

<p><strong>Descrição:</strong> <?php echo $tarefa['Tarefa']['descricao']?></p>

<p><strong>Prioridade:</strong> <?php echo $tarefa['Tarefa']['prioridade']?></p>

<?php echo $this->Html->link('Voltar', array('action' => 'index'),['class' => 'btn btn-danger btn-lg']); ?>
